*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

body {
    height: 100vh;
    display: grid;
    grid-template-rows: 0.1fr 1fr;
    grid-template-columns: 0.5fr 1fr;
    grid-template-areas:
        "header header"
        "sidebar main";
}

header {
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#sidebar {
    grid-area: sidebar;
    padding: 8px;
}

#projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

#project-items-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.project-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

#main-content {
    grid-area: main;
}

#todo-items-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 8px;
    gap: 8px;
}

.todo-item {
    display: flex;
    align-items: center;
    gap: 8px;
}

#task-form-modal {
    align-self: center;
    justify-self: center;
}

#project-form-modal {
    align-self: center;
    justify-self: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 8px;
}